<!-- <button (click)="createIDb()">create database</button>
<br>
<button (click)="updatingVersion()">upgrade db</button> -->
<br>
<button (click)="newDbCreate()">newDbCreate()</button>

<hr><hr>
<button (click)="makeDb()">create db</button>
<button (click)="makeCollection()">Create collection</button>
<button (click)="storeDataInDb()">Store Data</button>
<button (click)="makeindexing()"> create indexing</button>
<button (click)="gettingDataFromDb()">Getting data from Db</button>
<button (click)="removedataFromDb()">Remove data from DB</button>
<button (click)="deleteDb()">Delete Database</button>
<button (click)="connectWithExistingDb()">connectr with Existing db</button>
<button (click)="getCustomersData()">get Data of objectStore</button>


<button (click)="insertDataIntoDb()">insert new data</button>

<button (click)="updateDataIntoDb()">update existing data</button>
<button (click)="getCustomerDataBySSN()">get data with ssn</button>getDataWithEmail()
<button (click)="getDataWithEmail()">get data with email</button>